body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://i.pinimg.com/564x/fb/41/65/fb416594ace2e7246d93f8f9e6a764a7.jpg");
    background-size: cover;
    background-position: center;
}

header, footer {
    background-color:#deb887 ;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
.h1 {
    text-emphasis: bold;

}

.h2 {
    color: #333;
}

ul {
    list-style-type: bullets;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
